@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body{
  background-color:black;
  font-family: 'DotGothic16', sans-serif;
  color: white;
  overflow-x: hidden;
}

div{
  margin: 0 auto;
}

img{
  margin: 0 auto;
  width: 100%;
}

button{
  text-align: center;
  padding: 10px;
  background: #b4a891;
  border: none;
  border-radius: 5px;
  -webkit-transition: 1s;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'DotGothic16', sans-serif;
  color: white;
}


button:hover {
  background-color: #df6b74;
  -webkit-transition: 1s;
  color: white;
}

ul {
  padding-left: 0;
}

ul li {
  padding: 5px;
  display:inline-block;
}

a{
  text-decoration: none;
  color: #df6b74;
}



@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */



  img{
    width: 100%;
    margin: 0;
    padding: 0;

  }

  div{
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  }
}
